page-home {

}
.my-tab-icon{
	background-repeat: no-repeat;
	height: 175px;
	align-items: flex-end;
	display: flex;
}
.testAlign{
	align-items: flex-end;
	display: block;
	background-color: #cd5c5c;
    opacity: 0.8;
    color:#fff;
}
