header-page {

}
.item-profile {
  height: 150px;
  .item-avatar > img:first-child {
    max-width: 100px;
    max-height: 100px;
  }
}
.item-avatar  {     
	width:100% !important;  
	height : 100% !important;  
	max-width: 100px !important;  //any size
	max-height: 100px !important; //any size 
}
